version: "3.3"
services:
  backend:
    build: ./server
    image : milano-backend 
    ports:
      - 8085:8085
    restart: unless-stopped
    volumes:
      - upload:/upload
    environment:
      DATABASE_CONNECTION: mongodb://db/milano
  db:
    image: mongo:4.0-xenial
    ports:
      - 2747:27017
    restart: unless-stopped
    volumes:
      - phone:/data/db
  web:
    build: ./admin
    image: milano-web
    ports:
      - 3017:80
    restart: unless-stopped
    volumes:
      - "./admin:/app"
      - "/app/node_modules"
    stdin_open: true
    environment:
      - CHOKIDAR_USEPOLLING=true

  # web1:
  #   build: ./graborders
  #   ports:
  #     - 3015:80
  #   restart: unless-stopped
  #   volumes:
  #     - "./graborders:/app"
  #     - "/app/node_modules"
  #   stdin_open: true
  #   environment:
  #     - CHOKIDAR_USEPOLLING=true

volumes:
  phone:
  upload:
